---
title: "Saint Christopher's Blog"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner2.jpg
  actions:
    - label: "About"
      url: "/About"
excerpt: "Welcome to Saint Christopher's Blog. Here you will find articles on Spirituality, Wellbeing and Buddhism. As Lao Tzu once said; 'A good traveler has no fixed plans and is not intent upon arriving'. Please do bookmark my blog so that you can save it for future reference."
feature_row:
  - image_path: /assets/images/me.jpg
    title: "Meditation"
    excerpt: "My Article on Meditation which gives some guidance on the correct technique to meditate in your life"
    url: "https://lovehumanity.github.io/meditation/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/blogs/kingdom.jpg
    title: "Showing Respect and Love to God and his Kingdom"
    excerpt: "This is an article I wrote on showing respect and love to God and his Kingdom"
    url: "https://lovehumanity.github.io/showing-respect-and-love-to-god-and-his-kingdom/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/blogs/Prayer/prayer.jpg 
    title: "Prayer"
    excerpt: "My Article on Prayer which gives some guidance on how to pray in the correct fashion"
    url: "https://lovehumanity.github.io/prayer/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  
feature_row2:
  - image_path: /assets/blogs/Ideal-partner/partner.jpg
    title: "Finding your Ideal Partner"
    excerpt: 'My article on how to draw towards you your ideal partner'
    url: "https://lovehumanity.github.io/finding-your-ideal-partner/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/blogs/wrong/wrong.jpg
    title: "When Someone Does Wrong By You"
    excerpt: 'My short article on what you should do when someone does wrong by you'
    url: "https://lovehumanity.github.io/when-someone-does-wrong-by-you/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/blogs/Child/child.png
    title: "Becoming a Child"
    excerpt: 'My short article on why becoming a child is of vital importance to making progress in spirituality and progress towards God'
    url: "https://lovehumanity.github.io/becoming-a-child/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
